<div class="container">
  <div class="contenedor">
    <h1 class="text-center">#todo</h1>
    <app-navbar [tareas]="tareas" (filtro)="Actualizar($event)"></app-navbar>
    <app-form (agregar)="agregarTarea($event)"></app-form>
    <app-tareas [_tareas]="_tareas" (marcar)="marcarCompleto($event)" (eliminar)="eliminarTarea($event)"></app-tareas>
    <button class="btn btn-danger px-4 all" (click)="eliminarTodo()"><i class="bi bi-trash mr-2"></i> Delete
      All</button>
  </div>
</div>
<div class="footer">
  <p>Created by Natalia Todesco - devChallenges.io</p>
</div>